<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dandan.client3.mapper.AdminMapper">


    <!--<insert id="insertAdmin">
        insert into admin (id) values (#{0})
     </insert>-->


    <select id="getJobNumber" parameterType="java.lang.String" resultType="java.lang.String">
    SELECT MAX(id)
    from admin
  </select>

</mapper>