<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dandan.client3.mapper.AdminMapper">
  <resultMap id="ResultMap" type="com.dandan.client3.entity.Admin">
    <id column="admin_id" jdbcType="BIGINT" property="adminId" />
    <result column="org_id" jdbcType="BIGINT" property="orgId" />
  </resultMap>


<insert id="insertAdmin"  >
    insert into admin ( id
      )
    values ("1"
      )
  </insert>


</mapper>